{% extends 'home.html' %}

{% block contenido %}

{%load static%}
<link rel="stylesheet" href="{% static 'bootstrap/css/tabla_programa.css'%}">
<div class="main p-3">
    <div class="text-center">
        <div class="container">
            <div class="mapadiv">
                <h1 class="h1 mb-4">Cobertura</h1>
                
                <!-- Filtros usando Bootstrap en una línea -->
                <div class="row justify-content-center">
                    <div class="col-md-3 mb-3 offset-md-1"> <!-- Añadida clase offset-md-1 para mover los filtros un poco a la derecha -->
                        <div class="form-group row">
                            <label for="filtroFechaInicio" class="col-sm-5 col-form-label col-form-label-sm">Fecha Inicio:</label>
                            <div class="col-sm-7">
                                <input type="date" class="form-control form-control-sm" id="filtroFechaInicio">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-group row">
                            <label for="filtroFechaFin" class="col-sm-5 col-form-label col-form-label-sm">Fecha Fin:</label>
                            <div class="col-sm-7">
                                <input type="date" class="form-control form-control-sm" id="filtroFechaFin">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 mb-3"> <!-- Ajustado el ancho de la columna para Municipio -->
                        <div class="form-group row">
                            <label for="filtroSeleccion" class="col-sm-3 col-form-label col-form-label-sm">Municipio:</label>
                            <div class="col-sm-9">
                                <select class="form-control form-control-sm custom-select" id="id_municipio" onchange="obtenerProgramas(this.value)">
                                  <option value="" disabled selected>Selecciona Municipio</option>
                                  {% for choice in municipio %}
                                  <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                   {% endfor %}
                                </select>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
   
    <div class="container">
      <div class="row">
          <div class="col-md-6">
              <!-- Contenedor del mapa o cualquier otro contenido -->
              <div class="map-container mt-4">
                  {% include 'Cobertura/mapa.html' %}
              </div>
          </div>
          <div class="col-md-6">
              <!-- Contenedor para la tabla con desplazamiento -->
              <div class="custom-scroll-table">
                  <!-- Tabla con bordes redondeados y estilos de Bootstrap -->
                  <table class="table-hover custom-table">
                      <thead class="custom-thead">
                          <tr>
                              <th scope="col">Programa</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for programa in programas_lista %}
                        <tr>
                            <td>{{ programa }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>No hay programas disponibles para este municipio.</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  

{% endblock contenido %}
