<div class="col-md-3 mb-3"> <!-- Municipio -->
    <div class="form-group row">
        <label for="filtroSeleccion" class="col-sm-5 col-form-label col-form-label-sm">Municipio:</label>
        <div class="col-sm-7">
            <select class="form-control form-control-sm custom-select" id="filtroSeleccion">
                <option selected>Seleccionar una opción</option>
                <option value="opcion1">Popayán</option>
                <option value="opcion2">Silvia</option>
                <option value="opcion3">Piendamó</option>
            </select>
        </div>
    </div>
</div>




<div class="container text-center">
    <div class="row row-cols-3 row-cols-lg-3 g-2 g-lg-3 ">
        <div class="col">
            <div class="container_tablas">
                <div class="chart">
                    <canvas id="auxiliar" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container_tablas p-1 ">
                <div class="chart">
                    <canvas id="tecnico" width="300" height="300"></canvas>
                </div>
            </div>
      
        <div class="col ">
            <div class="container_tablas p-1">
                <div class="chart">
                    <canvas id="tecnologo" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
   
        <div class="col">
            <div class="container_tablas p-1">
                <div class="chart">
                    <canvas id="profundizacion_tecnica" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container_tablas p-1">
                <div class="chart">
                    <canvas id="evento" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container_tablas p-1">
                <div class="chart">
                    <canvas id="operario" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
 
   
        <div class="col">
            <div class="container_tablas p-1">
                <div class="chart">
                    <canvas id="curso_especial" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>