<div class="col-md-3 mb-3"> <!-- Municipio -->
    <div class="form-group row">
        <label for="filtroSeleccion" class="col-sm-5 col-form-label col-form-label-sm">Municipio:</label>
        <div class="col-sm-7">
            <select class="form-control form-control-sm custom-select" id="filtroSeleccion">
                <option selected>Seleccionar una opción</option>
                <option value="opcion1">Popayán</option>
                <option value="opcion2">Silvia</option>
                <option value="opcion3">Piendamó</option>
            </select>
        </div>
    </div>
</div>