<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <link rel="stylesheet" href="{% static 'bootstrap/css/navbar.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/navbar.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/inicio_sesion.css'%}">
    <title>Inicio_sesion</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#">Reporteador</a></li>

            </ul>
        </nav>

    </header>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="text" required>
                        <label for="">Usuario</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required>
                        <label for="">Contraseña</label>
                    </div>


                    <button>Iniciar Sesión</button>
                    <div class="bottom-links">
                     
                        <a class="contra" href="#">Olvidé mi contraseña</a>
                            <a href="#">Registrarse</a>
                       
                         

                        
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>