credentials.json


#Instalaciones
#pip install djangorestframework
#pip3 install certifi   
#pip3 install djangorestframework-simplejwt
#pip install pandas openpyxl  
#pip install djangorestframework
