credentials.json


#Instalaciones
#pip install djangorestframework
#pip3 install certifi   
#pip3 install djangorestframework-simplejwt
#pip install pandas openpyxl  
#pip install djangorestframework
#pip install pyxlsb
#superusuario = nombre analitica, correo analitica@gmail.com, documento=123456789 contraseña=123456789

