{% block content %}
  <h2>Restablecer contraseña</h2>
  <form action="{% url 'password_reset' %}" method="post">
    {% csrf_token %}
    <h2 class="login_titulo">Recuperar contraseña</h2>
    <div class="inputbox">
        <ion-icon name="mail-outline"></ion-icon>
        <input type="text" name="email" required>
        <label for="">Ingresa tu correo electronico</label>
    </div>
   

 <div class="container">
    <button class="boton_registro">Enviar correo electronico</button>
</div>

</form>
{% endblock %}
