{% block content %}
  <h2>Restablecer contraseña</h2>
  
  {% if validlink %}
    <p>Introduce tu nueva contraseña dos veces:</p>
    <form method="post">
      {% csrf_token %}
      
      <div class="col-md-6">
        <div class="inputbox">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input type="password" name="password1" required>
          <label for="id_password1">Contraseña</label>
          {% if formPersona.password1.errors %}
            <div class="alert alert-danger">
              {{ formPersona.password1.errors.as_text }}
            </div>
          {% endif %}
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="inputbox">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input type="password" name="password2" required>
          <label for="id_password2">Confirmar Contraseña</label>
          {% if formPersona.password2.errors %}
            <div class="alert alert-danger">
              {{ formPersona.password2.errors.as_text }}
            </div>
          {% endif %}
        </div>
      </div>
      
      <button type="submit">Restablecer contraseña</button>
    </form>
  {% else %}
    <h1>Enlace inválido</h1>
  {% endif %}
{% endblock %}
