<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/recuperar_contraseña_form.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Inicio_sesion</title>
   
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <a class="navbar-brand" href="{% url 'personas:inicio_sesion' %}">Analitica</a>
    </nav>
    <section class="sesiones">
        <div class="form-recuperar">
            <div class="form-value">
                {% if validlink %}
                <form method="post">
                    {% csrf_token %}
                    <h2 class="login_titulo">Recuperar contraseña</h2>
                    <p>Introduce tu nueva contraseña dos veces:</p>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="new_password1" id="id_new_password1" required>
                        <label for="id_new_password1">Contraseña</label>
                        <!-- Mensaje de error para longitud mínima -->
                        <span class="error-message" id="error_new_password1_length" style="display: none;">La contraseña debe tener al menos 8 caracteres.</span>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="new_password2" id="id_new_password2" required>
                        <label for="id_new_password2">Confirmar Contraseña</label>
                        <!-- Mensaje de error para contraseñas no coincidentes -->
                        <span class="error-message" id="error_new_password_match" style="display: none;">Las contraseñas no coinciden.</span>
                    </div>
                    <div class="container">
                        <button type="submit" class="boton_registro">Enviar</button>
                    </div>
                </form>
             
                {% else %}
                <h1>Enlace inválido</h1>
                {% endif %}
            </div>
        </div>
    </section>
    <script src="{% static 'bootstrap/js/recuperar_contraseña_form.js'%}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
