{% extends 'home.html' %}

{% block contenido %}
{%load static%}
<link rel="stylesheet" href="{% static 'bootstrap/css/desercion.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- jQuery (asegúrate de incluirlo antes de cualquier script de Bootstrap) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<meta name="csrf-token" content="{{ csrf_token }}">
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="main p-3">
    <div class="text-center">
        <div class="container">
            <h1 class="h1 mb-4">Gestionar formación</h1>

            <div class="row justify-content-center">
                <div class="col-md-3 mb-3">
                    <div class="form-group row">
                        <label for="selectAnio">Selecciona un año:</label>
                        <select name="" id="ano"></select>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-group row">
                        <label for="filtroFechaInicio" class="col-sm-5 col-form-label col-form-label-sm">Fecha Inicio:</label>
                        <div class="col-sm-7">
                            <input type="date" class="form-control form-control-sm" id="fecha_inicio" name="fecha_inicio">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-group row">
                        <label for="filtroFechaFin" class="col-sm-5 col-form-label col-form-label-sm">Fecha Fin:</label>
                        <div class="col-sm-7">
                            <input type="date" class="form-control form-control-sm" id="fecha_fin" name="fecha_fin">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-3 mb-3">
                    <div class="form-group row">
                        <label for="modalidad"class="col-sm-3 col-form-label col-form-label-sm">Modalidad:</label>
                        <div class="col-sm-9">
                            <select class="form-control form-control-sm custom-select" id="modalidad">
                                <!-- Opciones se llenarán dinámicamente -->
                            </select>
                        </div>
                    </div>
                </div>
               
                
                {% if perms.can_view_admin_dashboard %}
                <div class="col-md-3 mb-3">
                    <div class="form-group row">
                        <span class="icono" data-toggle="modal" data-target="#Modal1">
                            Meta formacion
                            <img src="{% static 'bootstrap/img/reporte.png' %}" alt="Ícono de reporte" style="width: 20px; height: 20px;">
                        </span>
                    </div>
                </div>
                {%endif %}
            </div>

            <div class="container">
                <div style="max-height: 400px; overflow-x: auto; overflow-y: auto;">
                    <table class="table table-striped table-hover" id="resultados">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col" style="min-width: 200px;">Modalidad</th>
                                <th scope="col" style="min-width: 100px;">Operario</th>
                                <th scope="col" style="min-width: 100px;">Auxiliar</th>
                                <th scope="col" style="min-width: 100px;">Tecnico</th>
                           
                                <th scope="col" style="min-width: 150px;">Profundizacion tecnica</th>
                                <th scope="col" style="min-width: 150px;">Tecnologo</th>
                                <th scope="col" style="min-width: 100px;">Evento</th>
                                <th scope="col" style="min-width: 100px;">Curso especial</th>

                                <th scope="col" style="min-width: 150px;">Bilinguismo</th>   
                                <th scope="col" style="min-width: 150px;">Sin Bilinguismo</th>   
                                <th scope="col" style="min-width: 150px;"> Codigo de meta</th>   
                                <th scope="col" style="min-width: 150px;">Centro de formacion</th>   
                                <th scope="col" style="min-width: 150px;">Fecha inicio</th>   
                                <th scope="col" style="min-width: 150px;">Fecha fin</th>   
                                <th scope="col" style="min-width: 150px;">Año</th>   
                                
    
                            </tr>
                        </thead>
                        <tbody id="resultados">
            
                        </tbody>
                    </table>
                </div>
            </div><!-- Primer Modal -->
            <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Meta formacion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'cores:meta_formacion_create' %}" method="post">
                                {% csrf_token %}
                                

                                

                                <div class="mb-3">
                                    <label for="" class="form-label">Meta formacion operario</label>
                                    {{ form_meta_formacion.met_formacion_operario }}
                                    <span class="error-message" id="dateError" style="display: none;  bottom: -45px;">La fecha final debe ser mayor que la fecha inicial</span>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Meta formacion auxiliar</label>
                                    {{ form_meta_formacion.met_formacion_auxiliar }}
                                    <span class="error-message" id="dateError" style="display: none;  bottom: -45px;">La fecha final debe ser mayor que la fecha inicial</span>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Meta formacion tecnico</label>
                                    {{ form_meta_formacion.met_formacion_tecnico }}
                                    <span class="error-message" id="dateError" style="display: none;  bottom: -45px;">La fecha final debe ser mayor que la fecha inicial</span>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Meta formacion profundizacion tecnica</label>
                                    {{ form_meta_formacion.met_formacion_profundizacion_tecnica }}
                                    <span class="error-message" id="dateError" style="display: none;  bottom: -45px;">La fecha final debe ser mayor que la fecha inicial</span>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Meta formacion tecnologo</label>
                                    {{ form_meta_formacion.met_formacion_tecnologo }}
                                    <span class="error-message" id="dateError" style="display: none;  bottom: -45px;">La fecha final debe ser mayor que la fecha inicial</span>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Meta formacion evento</label>
                                    {{ form_meta_formacion.met_formacion_evento }}
                                    <span class="error-message" id="dateError" style="display: none;  bottom: -45px;">La fecha final debe ser mayor que la fecha inicial</span>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="" class="form-label">Meta formaicion curso especial</label>
                                    {{ form_meta_formacion.met_formacion_curso_especial }}
                                    <span class="error-message" id="dateError" style="display: none;  bottom: -45px;">La fecha final debe ser mayor que la fecha inicial</span>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Meta formacion bilinguismo</label>
                                    {{ form_meta_formacion.met_formacion_bilinguismo }}
                                    <span class="error-message" id="dateError" style="display: none;  bottom: -45px;">La fecha final debe ser mayor que la fecha inicial</span>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Meta formacion sin bilinguismo</label>
                                    {{ form_meta_formacion.met_formacion_sin_bilinguismo }}
                                    <span class="error-message" id="dateError" style="display: none;  bottom: -45px;">La fecha final debe ser mayor que la fecha inicial</span>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Meta</label>
                                    {{ form_meta_formacion.met_id }}
                                    <span class="error-message" id="dateError" style="display: none;  bottom: -45px;">La fecha final debe ser mayor que la fecha inicial</span>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Modalidad</label>
                                    {{ form_meta_formacion.metd_modalidad}}
                                    <span class="error-message" id="dateError" style="display: none;  bottom: -45px;">La fecha final debe ser mayor que la fecha inicial</span>
                                </div>


                              


                                 Meta
                                <img src="{% static 'bootstrap/img/agregar.png' %}" alt="Ícono de reporte" style="width: 20px; height: 20px;" data-toggle="modal" data-target="#myModal3">
                                <br><br>
                            </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                </div>
                                
                            </form>
                       
                    </div>
                </div>
            </div><!-- Segundo Modal -->
            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="modalTitulo" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitulo">Metas</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="second-modal-form" action="{% url 'cores:meta_create' %}" method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="" class="form-label">Fecha Inicio</label>
                                    {{ form.met_centro_formacion }}
                                  

                                </div>
                                
                                <div class="mb-3">
                                    <label for="" class="form-label">Fecha Inicio</label>
                                    {{ form.met_fecha_inicio }}
                                  

                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Fecha Fin</label>
                                    {{ form.met_fecha_fin }}
                                    <span class="error-message" id="dateError" style="display: none;  bottom: -45px;">La fecha final debe ser mayor que la fecha inicial</span>
                                    

                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Año</label>
                                    {{ form.met_año }}
                                    
                                    <span class="error-message" id="errorDocumentoExists" style="display: none;  bottom: -45px;">El año ya esta registrado</span>
                                    
                                    

                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Codigo</label>
                                    {{ form.met_codigo}}

                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Meta Otras Poblaciones </label>
                                    {{ form.met_total_otras_poblaciones }} 

                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Meta Total De Victimas</label>
                                    {{ form.met_total_victimas }}

                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Meta Hechos Victimizantes</label>
                                    {{ form.met_total_hechos_victimizantes }}

                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Meta Desplazados Violencia</label>
                                    {{ form.met_total_desplazados_violencia }}

                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Meta Poblacion Vulnerable</label>
                                    {{ form.met_total_poblacion_vulnerable }}

                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Meta Titulada</label>
                                    {{ form.met_total_titulada }}

                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Meta Complementaria</label>
                                    {{ form.met_total_complementaria }}

                                </div>
                                
                              
                                <input id="per_documento" name="per_documento"  type="hidden" class="form-control" value="{{user.per_documento}}">

                            </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-second-modal">Cerrar</button>
                                    <button type="submit" id="submit-second-modal" class="btn btn-primary">Guardar Cambios</button>
                                </div>
                            </form>
                        
                    </div>
                </div>
            </div>
            
         
           <style>
            .error-message{
                color: red;
            }
           </style>
            
          

  
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
          

            <script>
                //funcionalidad para tabla, modales y filtros
              document.addEventListener('DOMContentLoaded', function() {
                  document.querySelector('#submit-second-modal').addEventListener('click', function(event) {
                      event.preventDefault(); // Evita el comportamiento por defecto del botón
              
                      // Selecciona el formulario en el segundo modal
                      var form = document.querySelector('#second-modal-form');
                      var formData = new FormData(form);
              
                      // Envía los datos del formulario usando fetch
                      fetch(form.action, {
                          method: 'POST',
                          body: formData,
                          headers: {
                              'X-Requested-With': 'XMLHttpRequest',
                              'X-CSRFToken': form.querySelector('[name="csrfmiddlewaretoken"]').value
                          }
                      })
                      .then(response => response.json())
                      .then(data => {
                          if (data.success) {
                              // Simula el clic en el botón de cerrar para cerrar el segundo modal
                              document.querySelector('#close-second-modal').click();
              
                              // Limpia el formulario después de cerrar el modal
                              form.reset();
                          } else {
                              // Muestra errores si la respuesta es fallida
                              console.log('Error:', data.errors);
                          }
                      })
                      .catch(error => {
                          console.error('Error:', error);
                      });
                  });
              });
              document.addEventListener('DOMContentLoaded', function() {
                let modalidadesDisponibles = [];
                let modalidadSeleccionada = '';
                let anoSeleccionado = '';
            
                function actualizarModalidades() {
                    const fechaInicio = document.getElementById('fecha_inicio').value;
                    const fechaFin = document.getElementById('fecha_fin').value;
                    modalidadSeleccionada = document.getElementById('modalidad').value;
                    anoSeleccionado = document.getElementById('ano').value;
            
                    if (fechaInicio && fechaFin && new Date(fechaInicio) > new Date(fechaFin)) {
                        alert('La fecha de inicio no puede ser mayor que la fecha de fin.');
                        return;
                    }
            
                    let url = `/filtrar_datos_y_modalidades/?`;
            
                    if (fechaInicio) {
                        url += `fecha_inicio=${fechaInicio}&`;
                    }
                    if (fechaFin) {
                        url += `fecha_fin=${fechaFin}&`;
                    }
                    if (modalidadSeleccionada) {
                        url += `modalidad=${modalidadSeleccionada}&`;
                    }
                    if (anoSeleccionado) {
                        url += `ano=${anoSeleccionado}&`;
                    }
            
                    fetch(url)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data.error) {
                                alert(data.error);
                                return;
                            }
            
                            // Guardar modalidades disponibles
                            modalidadesDisponibles = data.modalidades;
            
                            // Actualizar resultados en la tabla
                            const resultadosTableBody = document.getElementById('resultados').querySelector('tbody');
                            resultadosTableBody.innerHTML = ''; // Limpiar resultados anteriores
            
                            data.data.forEach(dato => {
                                const row = document.createElement('tr');
                                row.innerHTML = `
                                    <td>${dato.metd_modalidad__modalidad}</td>
                                    <td>${dato.met_formacion_operario}</td>
                                    <td>${dato.met_formacion_auxiliar}</td>
                                    <td>${dato.met_formacion_tecnico}</td>
                                    <td>${dato.met_formacion_profundizacion_tecnica}</td>
                                    <td>${dato.met_formacion_tecnologo}</td>
                                    <td>${dato.met_formacion_evento}</td>
                                    <td>${dato.met_formacion_curso_especial}</td>
                                    <td>${dato.met_formacion_bilinguismo}</td>
                                    <td>${dato.met_formacion_sin_bilinguismo}</td>
                                    <td>${dato.met_id__met_codigo}</td>
                                    <td>${dato.met_id__met_centro_formacion}</td>
                                    <td>${dato.met_id__met_fecha_inicio}</td>
                                    <td>${dato.met_id__met_fecha_fin}</td>
                                    <td>${dato.met_id__met_año}</td>
                                `;
                                resultadosTableBody.appendChild(row);
                            });
            
                            // Actualizar el select de modalidades
                            actualizarSelectModalidades();
                        })
                        .catch(error => {
                            console.error('Error fetching data:', error);
                        });
                }
            
                function actualizarSelectModalidades() {
                    const modalidadSelect = document.getElementById('modalidad');
                    const modalidadSeleccionada = modalidadSelect.value;
            
                    modalidadSelect.innerHTML = '<option value="">--Selecciona modalidad--</option>';
            
                    modalidadesDisponibles.forEach(modalidad => {
                        const [id, nombre] = modalidad;  // Desestructurar la tupla [id, nombre]
            
                        const option = document.createElement('option');
                        option.value = id;  // ID de la modalidad
                        option.textContent = nombre;  // Nombre de la modalidad
                        if (id === modalidadSeleccionada) {
                            option.selected = true;
                        }
                        modalidadSelect.appendChild(option);
                    });
                }
            
                function cargarAnios() {
                    const anoSelect = document.getElementById('ano');
                    const currentYear = new Date().getFullYear();
                    for (let i = currentYear; i >= 1900; i--) {
                        anoSelect.options.add(new Option(i, i));
                    }
                }
            
                // Llamada inicial para mostrar todos los datos y modalidades al cargar la página
                actualizarModalidades();
                cargarAnios();
            
                // Event listeners para actualizar los datos según los filtros
                document.getElementById('fecha_inicio').addEventListener('change', () => {
                    actualizarModalidades();
                });
                document.getElementById('fecha_fin').addEventListener('change', () => {
                    actualizarModalidades();
                });
                document.getElementById('modalidad').addEventListener('change', () => {
                    actualizarModalidades();
                });
                document.getElementById('ano').addEventListener('change', () => {
                    actualizarModalidades();
                });
            });
            
            

            function Ano(){
                var n = (new Date()).getFullYear()
                var select = document.getElementById("ano");
                for(var i = n; i>=1900; i--)select.options.add(new Option(i,i));
            
            };
            window.onload = Ano;



            //alaertas para el formulario de meta create
            document.getElementById('id_met_año').addEventListener('input',function(){
            const id_met_año = this.value
            console.log(id_met_año)

            fetch('/verificar-año/',{
                method: 'POST',
                headers:{
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                },
                body: JSON.stringify({ id_met_año: id_met_año })
            })
            .then(response => response.json())
            .then(data => {
                const errorAño = document.getElementById('errorDocumentoExists');
                const botonBloqueado = document.getElementById('submit-second-modal');
                
                if(data.existe){
                    errorAño.style.display = 'block';
                    botonBloqueado.disabled = true;
                }else{
                    errorAño.style.display = 'none';
                    botonBloqueado.disabled = false;
                }
            });
        });
        document.getElementById('id_met_fecha_inicio').addEventListener('change', validateDates);
        document.getElementById('id_met_fecha_fin').addEventListener('change', validateDates);
        
        function validateDates() {
            const startDateInput = document.getElementById('id_met_fecha_inicio');
            const endDateInput = document.getElementById('id_met_fecha_fin');
            const errorDiv = document.getElementById('dateError');
            const submitButton = document.getElementById('submit-second-modal');
        
            const startDate = new Date(startDateInput.value);
            const endDate = new Date(endDateInput.value);
        
            if (startDate && endDate && startDate >= endDate) {
                errorDiv.style.display = 'block';  // Mostrar mensaje de error
                submitButton.disabled = true;      // Desactivar el botón
            } else {
                errorDiv.style.display = 'none';   // Ocultar mensaje de error
                submitButton.disabled = false;     // Activar el botón
            }
        }

        //verificacion de formulario metas formacion 

        $(document).ready(function() {
            $('#id_met_id').change(function() {
                var metaId = $(this).val();
                if (metaId) {
                    $.ajax({
                        url: '{% url "cores:verificacion_meta_formacion_regular" %}',
                        method: 'GET',
                        data: { id_met_id: metaId },
                        success: function(data) {
                            var select = $('#id_metd_modalidad');
                            select.empty();
                            select.append('<option value="">Selecciona modalidad</option>');
                            $.each(data, function(index, modalidad) {
                                select.append('<option value="' + modalidad.id + '">' + modalidad.modalidad + '</option>');
                            });
                        },
                        error: function() {
                            alert('Error al cargar las modalidades.');
                        }
                    });
                } else {
                    $('#id_metd_modalidad').empty().append('<option value="">Selecciona modalidad</option>');
                }
            });
        });
        


        

        


            </script>

        </div>
    </div>
</div>
{% endblock contenido %}