{% extends 'home.html'%}

{% block contenido%}
{% load static%}
<link rel="stylesheet" href="{% static 'bootstrap/css/desercion.css'%}">
<div class="main p-3">
    <div class="text-center">
        <div class="container">
            <div class="mapadiv">
                <h1 class="h4 mb-4">Cobertura</h1>
                
                <!-- Filtros usando Bootstrap en una línea -->
                <div class="row justify-content-center">
                    <div class="col-md-3 mb-3 offset-md-1"> <!-- Añadida clase offset-md-1 para mover los filtros un poco a la derecha -->
                        <div class="form-group row">
                            <label for="filtroFechaInicio" class="col-sm-5 col-form-label col-form-label-sm">Fecha Inicio:</label>
                            <div class="col-sm-7">
                                <input type="date" class="form-control form-control-sm" id="filtroFechaInicio">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-group row">
                            <label for="filtroFechaFin" class="col-sm-5 col-form-label col-form-label-sm">Fecha Fin:</label>
                            <div class="col-sm-7">
                                <input type="date" class="form-control form-control-sm" id="filtroFechaFin">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 mb-3"> <!-- Ajustado el ancho de la columna para Municipio -->
                        <div class="form-group row">
                            <label for="filtroSeleccion" class="col-sm-3 col-form-label col-form-label-sm">Municipio:</label>
                            <div class="col-sm-9">
                                <select class="form-control form-control-sm custom-select" id="filtroSeleccion">
                                    <option selected>Seleccionar una opción</option>
                                    <option value="opcion1">Popayán</option>
                                    <option value="opcion2">Silvia</option>
                                    <option value="opcion3">Piendamó</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3"> <!-- Ajustado el ancho de la columna para Municipio -->
                        <div class="form-group row">
                            <label for="filtroSeleccion" class="col-sm-3 col-form-label col-form-label-sm">Municipio:</label>
                            <div class="col-sm-9">
                                <select class="form-control form-control-sm custom-select" id="filtroSeleccion">
                                    <option selected>Seleccionar una opción</option>
                                    <option value="opcion1">Popayán</option>
                                    <option value="opcion2">Silvia</option>
                                    <option value="opcion3">Piendamó</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3"> <!-- Ajustado el ancho de la columna para Municipio -->
                        <div class="form-group row">
                            <label for="filtroSeleccion" class="col-sm-3 col-form-label col-form-label-sm">Municipio:</label>
                            <div class="col-sm-9">
                                <select class="form-control form-control-sm custom-select" id="filtroSeleccion">
                                    <option selected>Seleccionar una opción</option>
                                    <option value="opcion1">Popayán</option>
                                    <option value="opcion2">Silvia</option>
                                    <option value="opcion3">Piendamó</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <table class="table table-striped table-hover">
                <thead class="titulo_tabla">
                    <tr>
                        <th scope="col">Identificador ficha</th>
                        <th scope="col">Identificador unico ficha</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Codigo nivel de formacion</th>
                        <th scope="col">Nivel de formacion</th>
                        <th scope="col">Codigo jornada</th>
                        <th scope="col">Jornada</th>
                        <th scope="col">Tipo de formacion</th>
                        <th scope="col">Etapa de formacion</th>
                        <th scope="col">Sector programa</th>
                        <th scope="col">Numero de programa de formacion</th>
                        <th scope="col">Red</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Dato 1</td>
                        <td>Dato 2</td>
                        <td>Dato 3</td>
                        <td>Dato 3</td>
                        <td>Dato 3</td>
                        <td>Dato 3</td>
                        <td>Dato 3</td>
                        <td>Dato 3</td>
                        <td>Dato 3</td>
                        <td>Dato 3</td>
                        <td>Dato 3</td>
                        <td>Dato 3</td>
                    </tr>
                    
                    <tr>
                        <td>Dato 4</td>
                        <td>Dato 5</td>
                        <td>Dato 6</td>
                        <td>Dato 6</td>
                        <td>Dato 6</td>
                        <td>Dato 6</td>
                        <td>Dato 6</td>
                        <td>Dato 6</td>
                        <td>Dato 6</td>
                        <td>Dato 6</td>
                        <td>Dato 6</td>
                        <td>Dato 6</td>
                    </tr>
                    <tr>
                        <td>Dato 7</td>
                        <td>Dato 8</td>
                        <td>Dato 9</td>
                        <td>Dato 9</td>
                        <td>Dato 9</td>
                        <td>Dato 9</td>
                        <td>Dato 9</td>
                        <td>Dato 9</td>
                        <td>Dato 9</td>
                        <td>Dato 9</td>
                        <td>Dato 9</td>
                        <td>Dato 9</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
       
    </div>
</div>
{% endblock contenido%}