{% extends 'home.html' %}

{% block contenido %}

{%load static%}
<link rel="stylesheet" href="{% static 'bootstrap/css/tabla_programa.css'%}">
<div  class="main p-3" style="">
   
    
    <div class="text-center">
        <div class="container">
            <div class="mapadiv">
                <h1 class="h4 mb-4">Programa</h1>
                
                <!-- Filtros usando Bootstrap en una línea -->
                <div class="row justify-content-center">
                    <div class="col-md-4 mb-3">
                        <div class="form-group row">
                            <label for="filtroSeleccion1" class="col-sm-5 col-form-label col-form-label-sm text-md-right">Tipo de formación:</label>
                            <div class="col-sm-7">
                                <select class="form-control form-control-sm custom-select" id="filtroSeleccion1">
                                    <option selected>Seleccionar una opción</option>
                                    <option value="opcion1">Opción 1</option>
                                    <option value="opcion2">Opción 2</option>
                                    <option value="opcion3">Opción 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-group row">
                            <label for="filtroSeleccion2" class="col-sm-4 col-form-label col-form-label-sm text-md-right">Nombre:</label>
                            <div class="col-sm-8">
                                <select class="form-control form-control-sm custom-select" id="filtroSeleccion2">
                                    <option selected>Seleccionar una opción</option>
                                    <option value="opcion1">Opción 1</option>
                                    <option value="opcion2">Opción 2</option>
                                    <option value="opcion3">Opción 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3"> <!-- Ajustado el ancho de la columna para Modalidad -->
                        <div class="form-group row">
                            <label for="filtroSeleccion3" class="col-sm-4 col-form-label col-form-label-sm text-md-right">Modalidad:</label>
                            <div class="col-sm-8">
                                <select class="form-control form-control-sm custom-select" id="filtroSeleccion3">
                                    <option selected>Seleccionar una opción</option>
                                    <option value="opcion1">Opción 1</option>
                                    <option value="opcion2">Opción 2</option>
                                    <option value="opcion3">Opción 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>

         
  
    </div>
    
 
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 mb-4">
                <!-- Tabla 1 -->
                <div class="custom-scroll-table">
                    <table class="table-hover custom-table">
                        <thead class="custom-thead">
                            <tr>
                                <th scope="col">Municipios</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>Programa </td><td>1</td></tr>
                            <tr><td>Programa </td><td>1</td></tr>
                            <tr><td>Programa </td><td>1</td></tr>
                            <tr><td>Programa </td><td>1</td></tr>
                            <tr><td>Programa </td><td>1</td></tr>
                            <!-- Aquí continuarías con las filas de la tabla -->
                            <tr><td>Programa </td><td>1</td></tr>
                            <tr><td>Programa </td><td>1</td></tr>
                            <tr><td>Programa </td><td>1</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-5 mb-4">
                <!-- Tabla 2 (duplicada) -->
                <div class="custom-scroll-table">
                    <table class=" table-hover custom-table">
                        <thead class="custom-thead">
                            <tr>
                                <th scope="col">Ficha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>Programa </td><td><button type="button"  class="btn-icon" id="mostrarFormulario"><img src="{% static 'bootstrap/img/visualizar.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;"></button></td></tr>
                            <tr><td>Programa </td><td><button type="button"  id="mostrarFormulario"><img src="{% static 'bootstrap/img/visualizar.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;"></button></td></tr>
                            <tr><td>Programa </td><td><button type="button"  id="mostrarFormulario"><img src="{% static 'bootstrap/img/visualizar.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;"></button></td></tr>
                            <tr><td>Programa </td><td><button type="button"  id="mostrarFormulario"><img src="{% static 'bootstrap/img/visualizar.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;"></button></td></tr>
                            <tr><td>Programa </td><td><button type="button"  id="mostrarFormulario"><img src="{% static 'bootstrap/img/visualizar.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;"></button></td></tr>
                            <tr><td>Programa </td><td><button type="button"  id="mostrarFormulario"><img src="{% static 'bootstrap/img/visualizar.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;"></button></td></tr>
                            <!-- Aquí continuarías con las filas de la tabla -->
                            <tr><td>Programa </td><td><button type="button"  id="mostrarFormulario"><img src="{% static 'bootstrap/img/visualizar.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;"></button></td></tr>
                            <tr><td>Programa </td><td><button type="button"  id="mostrarFormulario"><img src="{% static 'bootstrap/img/visualizar.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;"></button></tr>
                            <tr><td>Programa </td><td><button type="button"  id="mostrarFormulario"><img src="{% static 'bootstrap/img/visualizar.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;"></button></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   

        <!-- Modal -->
        <div id="ventanaEmergente"  >
            
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Fichas</h5>
                    </div>
                   
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                      <label for="recipient-name" class="col-form-label">Recipient:</label>
                                      
                                      <h6 >Aprendiz</h6>
                                    </div>
                                    <div class="form-group">
                                      <label for="message-text" class="col-form-label">Message:</label>
                                      <h6 >Aprendiz</h6>
                                    </div>
                                  </form>
                              </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger " aria-label="Close">
                                    cerrar
                                </button>
                            </div>
                                
                    
                </div>
            </div>
           
            
            </div>
        </div>
        
        

        </div>
    </div>
    </div>
</div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'bootstrap/js/home.js'%}"></script>
</div>
{% endblock contenido %}
