
{% extends 'home.html'%}

{% block contenido%}
{%load static%}
<link rel="stylesheet" href="{% static 'bootstrap/css/cambiar_contraseña.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/p04.css'}">
<div class="main p-3">
    <div class="text-center">
                <div class="container">
             
                    <section class="sesion">
                        <div class="form-recuperar">
    
     
                            <h2 class="login_titulo">Meta formacion</h2>

            
                    <form action="{% url 'personas:password_change' %}" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label id="labels"for="id_old_password">Formacion</label>
                            <input type="password" name="old_password" id="id_old_password" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label id="labels" for="id_new_password1">Modalidad</label>
                            <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
                            
                        </div>

                        <div class="form-group">
                            <label id="labels" for="id_new_password2">Auxiliar</label>
                            <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label id="labels" for="id_new_password2">Tecnico</label>
                            <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label id="labels" for="id_new_password2">Operario</label>
                            <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label id="labels" for="id_new_password2">Curso especial</label>
                            <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label id="labels" for="id_new_password2">Profundizacion tecnica</label>
                            <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label id="labels" for="id_new_password2">Evento</label>
                            <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label id="labels" for="id_new_password2">Tecnologo</label>
                            <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                        </div>
                        <button type="submit" class="boton_registro">Enviar</button>
                    </form>
                
            </div>
        </div>
    </div>
</div>


{% endblock contenido%}