{% extends 'home.html' %}

{% block contenido %}
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/estrategias_institucionales_metas.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery (asegúrate de incluirlo antes de cualquier script de Bootstrap) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="main p-3">
    <div class="text-center">
        <div class="container">
            <h1 class="h1 mb-4">Gestionar estrategia institucionales</h1>

            <div class="row justify-content-center">
                <div class="col-md-3 mb-3">
                    <div class="form-group row">
                        <label for="selectAnio">Selecciona un año:</label>
                        <select name="año" id="año"></select>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-group row">
                        <label for="filtroFechaInicio" class="col-sm-5 col-form-label col-form-label-sm">Fecha Inicio:</label>
                        <div class="col-sm-7">
                            <input type="date" class="form-control form-control-sm" id="fecha_inicio" name="fecha_inicio">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-group row">
                        <label for="filtroFechaFin" class="col-sm-5 col-form-label col-form-label-sm">Fecha Fin:</label>
                        <div class="col-sm-7">
                            <input type="date" class="form-control form-control-sm" id="fecha_fin" name="fecha_fin">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-3 mb-3">
                    <div class="form-group row">
                        <label for="modalidad" class="col-sm-3 col-form-label col-form-label-sm">Modalidad:</label>
                        <div class="col-sm-9">
                            <select class="form-control form-control-sm custom-select" id="modalidad">
                                <!-- Opciones se llenarán dinámicamente -->
                            </select>
                        </div>
                    </div>
                </div>
                {% if perms.can_view_admin_dashboard %}
                <div class="col-md-3 mb-3">
                    <div class="form-group row">
                        <span class="icono" data-toggle="modal" data-target="#Modal_estrategia">
                            Estrategia
                            <img src="{% static 'bootstrap/img/reporte.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;">
                        </span>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-group row">
                        <span class="icono" data-toggle="modal" data-target="#myModal4">
                            Meta estrategia
                            <img src="{% static 'bootstrap/img/reporte.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;">
                        </span>
                    </div>
                </div>
                {%endif%}
            </div>
        </div>
        {% for estrategias in estrategia%}
        <div class="card">
            
            <div class="card-title">Campesena</div>
            <div class="card-content">
                <div class="card-item"><strong>Meta:</strong><button type="button" onclick="openModal('{{ estrategias.met_id }}')" data-toggle="modal"data-target="#viewModal"class="btn-icon">
                    <img src="{% static 'bootstrap/img/visualizar.png' %}" 
                         alt="Protection Icon" 
                         style="width: 20px; height: 20px;">
                </button></div>
                
            </div>
            
        </div>
        {% endfor%}
        <div class="container">
            
            <div style="max-height: 400px; overflow-x: auto; overflow-y: auto;">
                <table id="resultados" class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" style="min-width: 150px;" class="fixed-header">Nombre</th>
                            <th scope="col" style="min-width: 200px;" class="fixed-header">Modalidad</th>
                            <th scope="col" style="min-width: 100px;" class="fixed-header">Total meta</th>
                            <th scope="col" style="min-width: 100px;" class="fixed-header">Auxiliar</th>
                            <th scope="col" style="min-width: 100px;" class="fixed-header">Bilinguismo</th>
                       
                            <th scope="col" style="min-width: 150px;" class="fixed-header">Sin bilinguismo</th>
                            <th scope="col" style="min-width: 150px;" class="fixed-header">Profundizacion tecnica</th>
                            <th scope="col" style="min-width: 100px;" class="fixed-header">Curso especial</th>
                            <th scope="col" style="min-width: 100px;" class="fixed-header">Operario</th>
                            <th scope="col" style="min-width: 150px;" class="fixed-header">Evento</th>
                            <th scope="col" style="min-width: 150px;" class="fixed-header">Tecnologo</th>   
                            <th scope="col" style="min-width: 150px;" class="fixed-header">  Tecnico</th>   
                            <th scope="col" style="min-width: 150px;" class="fixed-header">Meta</th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        
            
                    </tbody>
                    
                </table>
            </div>
        </div>

        <!-- Primer Modal estrategia -->
        <div class="modal fade" id="Modal_estrategia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Estrategias</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'cores:estrategias_create' %}" method="post">
                            {% csrf_token %}
                            {{ form_estrategias_institucionales.as_p }}
                            <img src="{% static 'bootstrap/img/reporte.png' %}" alt="Ícono de reporte" style="width: 20px; height: 20px;" data-toggle="modal" data-target="#myModal3">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Segundo Modal meta -->
      
       <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="modalTitulo" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitulo">Meta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="second-modal-form_meta" action="{% url 'cores:meta_create' %}" method="post">
                        {% csrf_token %}
                        <input id="per_documento" name="per_documento"  type="hidden" class="form-control" value="{{user.per_documento}}">

                        {{ form_meta.as_p }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-second-modal">Cerrar</button>
                            <button type="submit" id="submit-second-modal_meta" class="btn btn-primary">Guardar Cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <!-- Modal meta estrategia -->
        <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="modalTitulo" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitulo">Meta estrategia</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="second-modal-form_meta" action="{% url 'cores:meta_estrategia_detalle' %}" method="post">
                            {% csrf_token %}
                            {{ form_meta_estrategia_detalle.as_p }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-second-modal">Cerrar</button>
                                <button type="submit" id="submit-second-modal_meta" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal de visualizacion de matas -->
        <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Información</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Campo 1:</strong> <span id="field1">Valor 1</span>
                            </div>
                            <div class="col-md-6">
                                <strong>Campo 2:</strong> <span id="field2">Valor 2</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Campo 3:</strong> <span id="field3">Valor 3</span>
                            </div>
                            <div class="col-md-6">
                                <strong>Campo 4:</strong> <span id="field4">Valor 4</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Campo 5:</strong> <span id="field5">Valor 5</span>
                            </div>
                           
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    

        
    </div>
    </div>
</div>

<script>

    document.addEventListener('DOMContentLoaded', function() {
      let modalidadesDisponibles = [];
      let modalidadSeleccionada = '';
      let anoSeleccionado = '';
  
      function actualizarModalidades() {
          const fechaInicio = document.getElementById('fecha_inicio').value;
          if(fechaInicio){
            limpiarAño();
          }
       
          const fechaFin = document.getElementById('fecha_fin').value;
          modalidadSeleccionada = document.getElementById('modalidad').value;
          anoSeleccionado = document.getElementById('año').value;
          console.log('año', anoSeleccionado)

        
  
          if (fechaInicio && fechaFin && new Date(fechaInicio) > new Date(fechaFin)) {
              alert('La fecha de inicio no puede ser mayor que la fecha de fin.');
              return;
          }
  
          let url = `/filtrar_estrategias_institucionales/?`;
  
          if (fechaInicio) {
              url += `fecha_inicio=${fechaInicio}&`;
          }
          if (fechaFin) {
              url += `fecha_fin=${fechaFin}&`;
          }
          if (modalidadSeleccionada) {
              url += `modalidad=${modalidadSeleccionada}&`;
          }
          if (anoSeleccionado) {
              url += `año=${anoSeleccionado}&`;
          }
  
          fetch(url)
              .then(response => {
                  if (!response.ok) {
                      throw new Error('Network response was not ok');
                  }
                  return response.json();
              })
              .then(data => {
                  if (data.error) {
                      alert(data.error);
                      return;
                  }
  
                  // Guardar modalidades disponibles
                  modalidadesDisponibles = data.modalidades;
  
                  // Actualizar resultados en la tabla
                  const resultadosTableBody = document.getElementById('resultados').querySelector('tbody');
                  resultadosTableBody.innerHTML = ''; // Limpiar resultados anteriores
  
                  data.data.forEach(dato => {
                


                      const row = document.createElement('tr');
                      row.innerHTML = `
                          <td>${dato.est_id__est_nombre}</td>
                          <td>${dato.estd_modalidad__modalidad}</td>
                          <td>${dato.est_id__est_total_meta}</td>
                          <td>${dato.estd_auxiliar_meta}</td>
                          <td>${dato.estd_bilinguismo}</td>
                          <td>${dato.estd_sin_bilinguismo}</td>
                          <td>${dato.estd_profundizacion_tecnica_meta}</td>
                          <td>${dato.estd_curso_especial}</td>
                          <td>${dato.estd_operario_meta}</td>
                          <td>${dato.estd_evento}</td>
                          <td>${dato.estd_tecnologo}</td>
                          <td>${dato.estd_tecnico_meta}</td>
                          <td>
                            <button type="button" 
                                    onclick="openModal(${dato.estd_meta})" 
                                    data-toggle="modal" 
                                    data-target="#viewModal" 
                                    class="btn-icon">
                                <img src="{% static 'bootstrap/img/visualizar.png' %}" 
                                     alt="Protection Icon" 
                                     style="width: 20px; height: 20px;">
                            </button>
                        </td>                           
                
                      `;
                      resultadosTableBody.appendChild(row);
                     
                  });
                  

                
                 
  
                  // Actualizar el select de modalidades
                  actualizarSelectModalidades();
              })
              .catch(error => {
                  console.error('Error fetching data:', error);
              });
      }
  
      function actualizarSelectModalidades() {
          const modalidadSelect = document.getElementById('modalidad');
          const modalidadSeleccionada = modalidadSelect.value;
  
          modalidadSelect.innerHTML = '<option value="">--Selecciona modalidad--</option>';
  
          modalidadesDisponibles.forEach(modalidad => {
              const [id, nombre] = modalidad;  // Desestructurar la tupla [id, nombre]
  
              const option = document.createElement('option');
              option.value = nombre;  // ID de la modalidad
              option.textContent = nombre;  // Nombre de la modalidad
          
              if (nombre === modalidadSeleccionada) {
                  option.selected = true;
              }
  

      
              modalidadSelect.appendChild(option);
          });
      }
  
      function cargarAnios() {
          const añoSelect = document.getElementById('año');
          const currentYear = new Date().getFullYear();
          añoSelect.innerHTML = '',

          añoSelect.options.add(new Option('--Selecciona año--', ''));


          for (let i = currentYear; i >= 1900; i--) {
            añoSelect.options.add(new Option(i, i));
          }

          console.log('dsfsdgs',añoSelect.value)
      }

      function limpiarAño(){
        const añoSelect = document.getElementById('año');
        añoSelect.innerHTML = '';
        añoSelect.options.add(new Option('--Selecciona año--',''));
      }
  
      // Llamada inicial para mostrar todos los datos y modalidades al cargar la página
      actualizarModalidades();
      cargarAnios();
      
  
      // Event listeners para actualizar los datos según los filtros
      document.getElementById('fecha_inicio').addEventListener('change', () => {
          actualizarModalidades();
      });
      document.getElementById('fecha_fin').addEventListener('change', () => {
          actualizarModalidades();
      });
      document.getElementById('modalidad').addEventListener('change', () => {
          actualizarModalidades();
      });
      document.getElementById('año').addEventListener('change', () => {
          actualizarModalidades();
      });
  });


  
  //detalle de metas para cada registro de estrategias detalle
  function openModal(estd_meta){
    console.log('gdfgid',estd_meta)
      fetch(`/meta_detalle/${estd_meta}/`)
      .then(response => response.json())
  
      .then(data =>{
          console.log(data)
          document.getElementById('field1').textContent = data.met_codigo
          document.getElementById('field2').textContent = data.met_centro_formacion
          document.getElementById('field3').textContent = data.met_fecha_inicio
          document.getElementById('field4').textContent = data.met_fecha_fin
          document.getElementById('field5').textContent = data.met_año
  
      })
  
  }
  
  
  



    
</script>
<script src="{% static 'bootstrap/js/estrategias_institucionales.js'%}"></script>

{% endblock %}
