{% extends 'home.html' %}

{% block contenido %}
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/estrategias_institucionales_metas.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery (asegúrate de incluirlo antes de cualquier script de Bootstrap) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="main p-3">
    <div class="text-center">
        <div class="container">
            <h1 class="h1 mb-4">Gestionar estrategia institucionales</h1>

            <div class="row justify-content-center">
                <div class="col-md-3 mb-3">
                    <div class="form-group row">
                        <select name="" id="ano"></select>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-group row">
                        <label for="filtroFechaInicio" class="col-sm-5 col-form-label col-form-label-sm">Fecha Inicio:</label>
                        <div class="col-sm-7">
                            <input type="date" class="form-control form-control-sm" id="filtroFechaInicio">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-group row">
                        <label for="filtroFechaFin" class="col-sm-5 col-form-label col-form-label-sm">Fecha Fin:</label>
                        <div class="col-sm-7">
                            <input type="date" class="form-control form-control-sm" id="filtroFechaFin">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-3 mb-3">
                    <div class="form-group row">
                        <select class="form-control form-control-sm custom-select" id="modalidad" onchange="aplicarFiltros()">
                            <option value="" disabled {% if not selected_modalidad %}selected{% endif %}>Selecciona modalidad</option>
                            {% for choice in modalidad %}
                                <option value="{{ choice.0 }}" {% if choice.0 == selected_modalidad %}selected{% endif %}>{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div class="col-md-3 mb-3">
                    <div class="form-group row">
                        <select class="form-control form-control-sm custom-select" id="id_municipio" onchange="filtros_desercion()" required>
                            <option value="" disabled {% if not select_municipio %}selected{% endif %}>Selecciona municipio</option>
                            {% for choice in municipio %}
                                <option value="{{ choice.0 }}" {% if choice.0 == select_municipio %}selected{% endif %}>{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-group row">
                        <span class="icono" data-toggle="modal" data-target="#Modal_estrategia">
                            Estrategia
                            <img src="{% static 'bootstrap/img/reporte.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;">
                        </span>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-group row">
                        <span class="icono" data-toggle="modal" data-target="#myModal4">
                            Meta estrategia
                            <img src="{% static 'bootstrap/img/reporte.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {% for estrategias in estrategia%}
        <div class="card">
            
            <div class="card-title">Campesena</div>
            <div class="card-content">
                <div class="card-item"><strong>Modalidad:</strong>{{ estrategias.est_modalidad.modalidad}}</div>
                <div class="card-item"><strong>Meta:</strong><button type="button" data-identificador="{{ estrategias.met_id }}"  class="btn-icon mostrarFormulario"><img src="{% static 'bootstrap/img/visualizar.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;"></button></div>
            </div>
            
        </div>
        {% endfor%}
        <div class="container">
            
            <div style="max-height: 400px; overflow-x: auto; overflow-y: auto;">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" style="min-width: 150px;">Nombre</th>
                            <th scope="col" style="min-width: 200px;">Modalidad</th>
                            <th scope="col" style="min-width: 100px;">Total meta</th>
                            <th scope="col" style="min-width: 100px;">Auxiliar</th>
                            <th scope="col" style="min-width: 100px;">Bilinguismo</th>
                       
                            <th scope="col" style="min-width: 150px;">Sin bilinguismo</th>
                            <th scope="col" style="min-width: 150px;">Profundizacion tecnica</th>
                            <th scope="col" style="min-width: 100px;">Curso especial</th>
                            <th scope="col" style="min-width: 100px;">Operario</th>
                            <th scope="col" style="min-width: 150px;">Evento</th>
                            <th scope="col" style="min-width: 150px;">Tecnologo</th>   
                            <th scope="col" style="min-width: 150px;">  Tecnico</th>   
                            <th scope="col" style="min-width: 150px;">Meta</th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        {% for meta_estrategias in  meta_estrategia%}
                        <tr>
                            <td>{{meta_estrategias.est_id}}</td>
                            <td>{{meta_estrategias.estd_modalidad}}</td>
                            <td>{{meta_estrategias.est_id.est_total_meta}}</td>
                            
                            <td>{{meta_estrategias.estd_auxiliar_meta}}</td>
                            <td>{{meta_estrategias.estd_bilinguismo}}</td>
                            <td>{{meta_estrategias.estd_sin_bilinguismo}}</td>
                            <td>{{meta_estrategias.estd_profundizacion_tecnica_meta}}</td>
                            <td>{{meta_estrategias.estd_curso_especial}}</td>
                            <td>{{meta_estrategias.estd_operario_meta}}</td>
                            <td>{{meta_estrategias.estd_evento}}</td>
                            <td>{{meta_estrategias.estd_tecnologo}}</td> 
                            <td>{{meta_estrategias.estd_tecnico_meta}}</td> 
                         
                            <td><button type="button" data-identificador="{{ meta_estrategias.estd_meta }}" data-toggle="modal"   data-target="#viewModal" class="btn-icon "><img src="{% static 'bootstrap/img/visualizar.png' %}" alt="Protection Icon" style="width: 20px; height: 20px;"></button></td>
                           

                            
                            
                        
                        </tr>
                        
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Primer Modal estrategia -->
        <div class="modal fade" id="Modal_estrategia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Título del Modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'cores:estrategias_create' %}" method="post">
                            {% csrf_token %}
                            {{ form_estrategias_institucionales.as_p }}
                            <img src="{% static 'bootstrap/img/reporte.png' %}" alt="Ícono de reporte" style="width: 20px; height: 20px;" data-toggle="modal" data-target="#myModal3">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Segundo Modal meta -->
      
       <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="modalTitulo" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitulo">Metas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="second-modal-form_meta" action="{% url 'cores:meta_create' %}" method="post">
                        {% csrf_token %}
                        {{ form_meta.as_p }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-second-modal">Cerrar</button>
                            <button type="submit" id="submit-second-modal_meta" class="btn btn-primary">Guardar Cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <!-- Modal meta estrategia -->
        <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="modalTitulo" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitulo">Metas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="second-modal-form_meta" action="{% url 'cores:meta_estrategia_detalle' %}" method="post">
                            {% csrf_token %}
                            {{ form_meta_estrategia_detalle.as_p }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-second-modal">Cerrar</button>
                                <button type="submit" id="submit-second-modal_meta" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal de visualizacion de matas -->
        <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Información</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Campo 1:</strong> <span id="field1">Valor 1</span>
                            </div>
                            <div class="col-md-6">
                                <strong>Campo 2:</strong> <span id="field2">Valor 2</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Campo 3:</strong> <span id="field3">Valor 3</span>
                            </div>
                            <div class="col-md-6">
                                <strong>Campo 4:</strong> <span id="field4">Valor 4</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Campo 5:</strong> <span id="field5">Valor 5</span>
                            </div>
                            <div class="col-md-6">
                                <strong>Campo 6:</strong> <span id="field6">{{meta_estrategias.estd_meta}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Campo 7:</strong> <span id="field7">Valor 7</span>
                            </div>
                            <div class="col-md-6">
                                <strong>Campo 8:</strong> <span id="field8">Valor 8</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    

        
    </div>
    </div>
</div>
<script src="{% static 'bootstrap/js/estrategias_institucionales.js'%}"></script>

{% endblock %}
